@font-face {
    font-family: "roboto";
    font-display: swap;
    src: url('./fonts/RobotoRegular.ttf');
}

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 1000px;
    position: relative;
    font-family: 'roboto';
    margin: 5% 11.5%;
    background: #111111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-top: 60px;
    border-top: 1px #313131 solid;
}

body > h1 {
    text-align: center;
    margin-bottom: 1em;
}

h1 {
    font-weight: 500;
    font-size: 2.2em;
}

h2 {
    font-weight: 500;
    font-size: 1.5em;
}

a {
    color: #007bff;
    text-decoration: none;
}

ul > li:not(:last-of-type) {
    margin-bottom: 10px;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.4em;
}

header > div {
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

header > div > a {
    display: flex;
    color: white;
    font-size: 1.4em;
    font-weight: 800;
}
header > div > a:hover {
    cursor: pointer;
}

header > div > a[selected] {
    text-decoration:underline;
}

header > div > a:not(:last-of-type) {
    margin-right: 30px;
}

#logo {
    max-width: 400px;
}
#logo:hover {
    cursor: pointer;
}

.post-img > img,
.post-card > div > img,
.post-content > img {
    border: 1px #0a0a0a solid;
}

.hosting {
    text-align: center;
    margin-top: 10px;
}

/* Posts */

.posts {
    display: flex;
    flex-direction: column;
}

.post-card {
    display: flex;
    flex-direction: row;
}

.post-card:not(:last-of-type) {
    margin-bottom: 38px;
}

.post-card > div:first-of-type {
    margin-right: 30px;
}

.post-card > div > img {
    width: 370px;
    border-radius: 8px;
}

.post-card > div > * {
    margin: 0px;
}

.post-card > div > a,
.post-row > div > a {
    color: white;
    font-size: 1.4em;
}

.post-card > div:last-of-type > * {
    margin: 14px 0px 0px 0px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.social > a:not(:last-of-type) {
    margin-right: 14px;
}

.see-more {
    display: inline-flex;
    color: #007bff !important;
    font-size: 1.4em;
    margin: 14px 0px 0px 0px;
}

/* Projects */

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: row;
    width: calc(50% - 80px);
    padding: 20px;
    border: 1px #313131 solid;
    margin: 0px 19px 19px 19px;
    border-radius: 8px;
}

.project > div:first-of-type {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.project > div:last-of-type {
    width: 100%;
}

.project > div > img {
    max-width: 100px;
    max-height: 100px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title > a {
    color: white;
    font-size: 1.4em;
}

.project-title > span {
    opacity: 0.4;
}

.project-version {
    color: #007bff;
}

/* Code */

code:not([class*="language-"]) {
    font-size: 14px;
}

pre[class*="language-"] {
    border: 1px #353535 solid;
}

code[class*="language-"],
pre[class*="language-"],
code[class*="language-"],
pre[class*="language-"] {
    background: #191919 !important;
}

code,
code .token.constant {
    color: white !important;
}

code .token.operator {
    color: #cccccc;
}

code .token.number {
    color: #b5cea8;
}

code .token.keyword {
    color: #569cd6;
}

code .token.punctuation {
    color: white;
}

code .token.class-name {
    color: #4ec9b0;
}

code .token.function {
    color: #e6e6b3;
}

code .token.string {
    color: #ce9178;
}

code .token.variable {
    color: #9cdcfe;
}

code .token.comment {
    color: #6a9955;
}

code .token.boolean {
    color: #569cd6 !important;
}

/* Blog */

form.search {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    align-self: center;
}

form.search > input {
    width: 100%;
    margin-right: 14px;
}

form.search > button {
    display: flex;
    background: none;
    border: none;
    padding: 0px;
}
form.search > button:hover {
    cursor: pointer;
}

.blog {
    display: flex;
    flex-direction: column;
}

.blog > *:not(:last-child) {
    margin-bottom: 40px;
}

.post-row {
    display: flex;
}

.post-row > div {
    display: flex;
    width: 50%;
}

.post-row > div:last-of-type {
    flex-direction: column;
}

.post-info {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.post-img {
    margin-right: 20px;
}

.post-img > img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}

.post-row > div > * {
    margin: 0px;
}

.post-row > div > *:not(:last-child) {
    margin-bottom: 10px;
}

.posts-pagination {
    margin: 0 auto;
}

.posts-pagination > a {
    color: #007bff;
    font-size: 1.4em;
    padding: 8px 15px;
}

.posts-pagination > a[selected="true"] {
    background: #007bff;
    color: white;
    border-radius: 4px;
}

.time {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

/* Post */

.post-section {
    display: flex;
    flex-direction: column;
}

.post-content {
    margin: 0 auto;
    max-width: 700px;
}

.post-content > div:first-of-type {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    line-height: 1.4em;
}

.post-content > img {
    width: 100%;
    border-radius: 8px;
}

.post-content > div > h1,
.post-content > div > h2,
.post-content > div > h3,
.post-content > div > h4,
.post-content > div > h5 {
    font-family: 'roboto';
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.post-content > div > * > img,
.post-content > div > img {
    display: block;
    max-width: 70%;
    max-height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-content > div > p + p > em {
    display: block;
    text-align: center;
    margin-top: -10px;
    font-family: 'roboto';
    font-size: 16px;
}

.post-others {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-others > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-others > div > a {
    display: flex;
    flex-direction: column;
    color: white;
    width: 31%;
}

.post-others > div > a > p {
    margin: 0px;
}

.post-others > div > a > img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

#disqus_thread {
    margin: 40px 0px !important;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.contact > span {
    display: flex;
    align-items: center;
}

.contact > *:not(:last-child) {
    margin: 0px 0px 14px 0px;
}

.error-msg {
    display: none;
    margin-bottom: 14px;
    background: rgb(255, 34, 34);
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.success-msg {
    display: none;
    margin-bottom: 14px;
    background: #03b72e;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.form-control {
    border: 1px #c1c1c1 solid;
    border-radius: 4px;
    padding: 8px;
}

textarea.form-control {
    resize: none;
    max-width: 100%;
    height: 140px;
}

button.form-control {
    border-radius: 4px;
    border: 0px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    font-size: 1.1em;
    transition: background-color 0.2s ease;
}
button.form-control:hover {
    cursor: pointer;
}

/* RESPONSIVE */

@media screen and (min-width: 1400px) {
    body {
        display: flex;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1250px) {
    .right-section {
        width: 90%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 920px) {
    body {
        margin: 40px;
    }

    #logo {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .post {
        flex-direction: column;
    }

    .post > div {
        width: 100%;
    }

    .post-img {
        margin: 0px 0px 20px 0px;
    }

    .post-row {
        flex-direction: column;
    }

    .post-row > * {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) {
    #logo {
        max-width: 300px;
    }

    .project {
        width: 100%;
    }

    .posts {
        flex-direction: column;
    }

    .post-card > div > img {
        width: 280px;
    }

    .post-content {
        width: 100%;
    }

    .post-content > div:first-of-type {
        font-size: 18px;
        line-height: 1.55em;
    }

    .post-others > div {
        flex-direction: column;
    }

    .post-others > div > a {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .post-others > div > a:not(:last-of-type) {
        margin-bottom: 20px;
    }

    .post-others > div > a > div {
        margin: 0px 0px 0px 20px;
    }

}

@media screen and (max-width: 700px) {
    body {
        margin: 30px 16px;
    }

    #logo {
        max-width: 200px;
    }

    header > div > a:not(:last-of-type) {
        margin-right: 16px !important;
    }

    .project {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 20px 30px;
        margin: 18px 0px;
    }

    .project > div:first-of-type {
        margin: 0px 0px 1em 0px;
    }

    .post-others > div > a,
    .post-card {
        flex-direction: column;
    }

    .post-others > div > a > div,
    .post-card > div:first-of-type {
        margin: 0px;
    }

    .post-card > div > a {
        display: block;
    }

    .post-card > div > img {
        width: 100%;
    }
}
