@font-face {
    font-family: "roboto";
    src: url('./fonts/RobotoRegular.ttf');
}

body {
    background-color: #eef2f5;
    font-family: 'roboto';
    margin: 5% 10%;
}

h2,
h2.title > a {
    font-weight: 100;
    text-decoration: none;
    color: #292929;
}

h2.title {
    text-align: center;
}

h2 > .fa {
    margin-right: 10px;
}

button {
    background: #3a3aff;
    color: white;
    border: 0px;
    border-radius: 4px;
    padding: 8px 15px;
}
button:hover {
    cursor: pointer;
}

button.delete {
    background: rgb(237, 37, 37);
}

.table-container {
    overflow: auto;
}

table {
    background: white;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d8d8d8;
    padding: 10px;
    color: #191919;
}

tbody > tr:hover {
    background-color: #f5f5f5;
}

td > a {
    text-decoration: none;
    color: #6060ff;
}

tr > td > img {
    max-height: 70px;
    border-radius: 4px;
}

td > a > button, td > button {
    width: calc(100% - 6px);
    margin: 3px;
}

/* Form */

.container {
    max-width: 745px;
    margin: 0 auto;
    padding: 40px;
    font-size: 15px;
    background: white;
    border-radius: 4px;
    border: 1px #dedede solid;
}

.container > *:not(:last-child),
form > *:not(:last-child) {
    margin-bottom: 20px;
}

form > div {
    display: flex;
    flex-direction: row;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-subsection > span,
.form-section > span {
    margin: 10px 0px;
}

.form-subsection {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

input,
textarea,
select {
    padding: 6px 10px;
    border: 1px #c1c1c1 solid;
    border-radius: 4px;
    min-width: 150px;
    background: white;
    font-family: 'roboto';
}

textarea {
    max-width: 100%;
    min-height: 50px;
}

.relative-msg {
    font-size: 0.8em;
    opacity: 0.8;
    margin: 4px;
}

/* Editor */

.CodeMirror, .CodeMirror-scroll {
	max-height: 550px;
}

.editor-preview-active {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    line-height: 1.4em;
    background-color: #fdfdfd;
    color: rgb(26, 26, 26);
}

code {
    font-size: 13px;
}

.editor-preview-active > h1,
.editor-preview-active > h2,
.editor-preview-active > h3,
.editor-preview-active > h4,
.editor-preview-active > h5 {
    font-family: 'roboto';
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.editor-preview > img,
.editor-preview > * > img {
    display: block;
    max-width: 70%;
    max-height: 350px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.editor-preview > * > br + em,
.editor-preview > * > img + em {
    display: block;
    text-align: center;
    margin-top: -10px;
    font-family: roboto;
    font-size: 16px;
}

/* Responsive */

@media screen and (max-width: 1000px) {
    .form-subsection {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 40px 10px;
    }

    tr > td > img {
        max-height: 50px;
    }

    form {
        padding: 15px 10px;
    }
}
