body {
    background: whitesmoke;
}

body,
header > div > a,
.project-title > a,
.post-card > div > a,
.post-row > div > a,
.post-others > div > a {
    color: rgb(26, 26, 26);
}

code {
    color: rgb(26, 26, 26) !important;
}

.post-img > img,
.post-card > div > img,
.post-content > img {
    border: 1px #e8e8e8 solid;
}

.project {
    border: 1px #c1c1c1 solid;
    background-color: white;
}

footer {
    border-color: #c1c1c1;
}
